<h2 class="log">Login de Usuario</h2>
<div class="login">
    <form class="formLogin" action="/login" method="POST">
        <input class="contraseña" type="email" name="email" placeholder="Ingrese email">
        <input class="contraseña" type="password" name="password" placeholder="Ingrese una contraseña">
        <button class="submit" type="submit">Login</button>
    </form>
    <a class="links" href="/registro">No tienes una cuenta?, Crea una</a>
</div>