body{
    font-family: Space mono;
    padding: 0;
    margin: 0;
    margin-top: 0;
    background-color: #1F2023;
}
h2, h3 {
    color: white;
    text-transform: capitalize;
}
.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1cb3e6;
    margin: 0;
    height: 70px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    margin-right: 40px;
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
fieldset{
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 17px 11px 5px 0px rgba(0,0,0,0.37);
    border: 1px solid #1cb3e6;
}
.flexForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 150px;
}
input{
    font-family: Space mono;
    border: none;
    border-bottom: 1px solid #1cb3e6;
    outline: none;
    background-color: #1F2023;
    color: white;
}
input[type="number"]
{
    appearance: textfield ;
    margin: 20px;
    -moz-appearance:textfield ;
}
button{
    font-family: Space mono;
    width: 150px;
    height: 30px;
    background-color: #1cb3e6;
    border: none;
    border-radius: 20px;
    color: white;
}
button:hover{
    transform: scale(1.1);
    transition: ease;
    cursor: pointer;
}
.tabla{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
}
table{
    border-radius: 20px;
}
.noHay{
    margin-top: 30px;
    text-align: center;
}
.boton{
    margin-top: 30px;
}
copyrigth{
    font-weight: bold;
    
}
footer{
    margin-top: 30px;
    width: 100%;
    background-color: #1cb3e6;
    color: white;
}
.tamañoLogo {
    width: 30px;
    margin: 10px;
}
.tamañoLogo:hover{
    transform: scale(1.2);
    transition: 1.3s;
}
.flexParrafo{
    display: flex;
    flex-direction: row;
}
.flexPadre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.ordenBotones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chatForm{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.chat{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#botonChat{
    font-family: Space mono;
    width: 40px;
    height: 40px;
    background-color: #1cb3e6;
    border: none;
    margin-top: 18px;
    border-radius: 50px;
    margin-left: 20px;
}
.chatBurbuja{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9rem;
}
.tituloTabla{
    background-color: rgb(200, 200, 200);
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorFormulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputUsuario{
    font-family: Space mono;
    border: 1px solid black;
    margin: 10px;
}
#edad{
    margin: 10px;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 70%;
    margin-left: 10px;
}
.burbuja{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3, p, .centrado{
    text-align: center;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contraseña{
    width: 200px;
    margin: 20px;
    margin: 20px;
}
.log{
    text-align: center;
    margin-bottom: 5px;
}
.formLogin{
    margin-top: 10px;
}
.links{
    margin-top: 30px;
    text-decoration: underline;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.userBtn{
    width: 200px;
}
#precio {
    margin: 20px;
}
#stock {
    margin: 20px;
}
.botonEnviar{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card, .cardDetail, .cardPerfil{
    margin: 30px;
    border: 1px solid #1cb3e6;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mail{
    padding-right: 30px;
    color: white;
}
.carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfilPadre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2023;
}
.circular{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 310px;
    overflow: hidden;
    border-radius: 50%;
}
.circularDos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.avatarFoto {
    width: 200%;
    height: 200%;
}
.carritoOrden{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.imgCarrito{
    width: 200px;
    height: 200px;
}
.card{
    width: 300px;
}
.cardPerfil{
    width: 300px;
    height: 400px;
}
.ordenForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productos, .flexOrden{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.detalle {
    background-color: #1F2023;
}
.file-select {
    position: relative;
    display: inline-block;
    margin: 20px;
}
.file-select::before {
    background-color: #1cb3e6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    content: 'Selecciona imagen';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.examinar {
    opacity: 0;
    width: 200px;
    height: 30px;
    display: inline-block;
}
h4, h5{
    color: white;
}
.centroMensajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#autor{
    margin-top: 20px;
}
.acomodoChat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#userBtn{
    background-color: transparent;
}
.logoutBtn{
    width: 30px;
}
.hijoUno{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#userDate{
    display: none;
}
#mensajeChat{
    font-family: Space mono;
    border: 1px solid white;
    margin-top: 20px;
    width: 100vh;
    background-color: white;
    color: black;
    height: 40px;
}
.ordenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown {
    display: inline-block;
    position: relative;
    align-items: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    background-color: black;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #1cb3e6;
}
.drop{
    font-size: 1rem;
    width: 110px;
    border-radius: 0px;
}
.drop:hover{
    transform: scale(0);
    transition: ease;
    cursor: pointer;
}
.papa{
    display: flex;
    justify-content: center;
    align-items: center;
}