<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="navBar">
            <ul class="lista">
                <li class="active">
                    <a href="/">Perfil</a>
                </li>
                <li class="active">
                    <a href="/productos">Productos</a>
                </li>
                <li class="active">
                    <a href="/listadeproductos">Lista</a>
                </li>
                <li class="active">
                    <a href="/ordenes">Ordenes</a>
                </li>
                <li class="active">
                    <a href="/Chat">Chat</a>
                </li>
                <li class="active">
                    <a href="/carrito">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>
    {{#if mensajeRegistro}}
        <div>
            <p>{{mensajeRegistro}}</p>
        </div>
    {{/if}}

    {{{body}}}

    <footer>
        <div class="flexPadre">
            <h5 class='copyrigth'>© Pagina realizada por FerAstrozombie ©</h5>
            <div class='flexParrafo'>
                <img class='tamañoLogo' src="../../facebook.svg" alt="logo facebook" />
                <p>Facebook</p>
            </div>
            <div class='flexParrafo'>
                <img class='tamañoLogo' src="../../instagram.svg" alt="logo instagram" />
                <p>Instagram</p>
            </div>
            <div class='flexParrafo'>
                <img class='tamañoLogo' src="../../mail.svg" alt="logo mail" />
                <p>Mail</p>
            </div>
        </div>
</footer>
    <script src="../../public/script.js"></script>
    {{importsScripts }}
</body>
</html>